/*Home page background*/
#home{
  background-image: url(web/hashtag.png);
position: relative;
background-size: cover;
height: 100%;
}

#home-para{
	grid-area: home-para;
	position: relative;
	left: 35%;
	font-size: x-large;
	color: olivedrab;
	align-content: center;
	font-family: fantasy;
}
.large-head {
	z-index: 1;

	font-weight: 100px;
	text-transform: uppercase;
	color: rgb(42, 83, 52); 
	font-family: monospace;
	font-size: 50px;
	text-align: center;
	line-height: 54px;
	text-shadow: 2px 5px 0 rgba(0,0,0,0.2);
}
.head{
	margin-top: 50%;
}
/*abouT page */
body{
	background-color: rgb(234, 245, 237);
	height: 100vh;
	width: 100%;
}

#paragraph{
	position: relative;
	margin-top: 50%;
}
.about-img {
	margin-top: 6%;
	max-width: 450px;
	float :left;
	margin-right:10%;
	border-radius: 50%;
  }

  #about-para{
	  padding-bottom:10%;
  }
#paragraph{
	display: inherit;
    color: rgb(94, 121, 103);
	font-family: monospace;
	line-height: 1.6;
	font-size: 8px;
	text-align: center;
	padding-left: 10%;
	margin-top: 10%;
}
/*skill section*/
#project-sec{
	display: grid;
	grid-area: project-sec;
	background-image: url(web/matric.png);
	background-color: rgb(86, 122, 91);
	position: relative;
	margin-top:46%;
	height: 350px;
	background-size: cover;
}

#skills {
	display: grid;
	grid-area: skills;
	border: rgb(30, 51, 30) solid;
	border-radius: 5px;
	width: 100%;
	position: absolute;
	margin-top: 10%;
	margin-bottom: -15%;
	width: 100%;
}

.skill-img-cont{
	list-style: none;
	display: inline;
} 

.skill-img{
	border-radius: 30%;
	height:110px ;
	width: 120px;
	padding: 20px;
}
/*CONTACT FORM*/

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid rgb(5, 34, 14);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid rgb(99, 133, 104); }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: monospace, sans-serif;
  width: 100%;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:rgb(53, 85, 67); }

/* Animation for paragraph */
#welcome-text {
	grid-area: welcome-text;
	/*margin-left: -20px ;
	margin-top: 10%;
	right: 0%;*/
}
 p{ position: relative;
	display: initial;
	text-align: center;
	vertical-align: middle;
	font-size: 320%;
}
i {
	display: inline-block;
	margin-top: 10%;
	margin-left: -8px;
	font-style: normal;
	padding: 0 0.25em;
	-webkit-transform: scale(1) translate3d(0, -2000px, 0);
	border-radius: 40%;
}
i.welcome-to-my-page {
	-webkit-animation:welcome-to-my-page  3s infinite ease-in-out;
			animation: welcome-to-my-page 3s infinite ease-in-out;
}


@keyframes welcome-to-my-page {
	0% {
		transform: scale() translate3d(0, -2000px, 0);
		background: rgba(6, 102, 43, 0.3);
		box-shadow: 0 0 100px 100px rgba(11, 110, 56, 0.2);
		border-radius: 50%;
	}
	15%, 85% {
		color: rgba(255, 255, 255, 0.8);
		text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
		transform: scale(1) translate3d(0, 0, 0);
		background: transparent;
		box-shadow: none;
	}
	100% {
		color: transparent;	
		transform: scale(0) translate3d(0, 2000px, 0);
		background: rgba(12, 105, 54, 0.3);
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
}
/* The navigation bar */
.nav-wrapper {
	display: grid;
	grid-area: nav-wrapper;
  background-color: green;
  position: fixed;
    right: 0;
  width: 120px;
  z-index: 1;
  font-size: x-large;
  border-radius: 8px;
  top: 50%;
}
.nav {
	overflow: hidden;
	background-color: rgba(11, 104, 107, 0.712);
  }
  
  .nav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 16px 18px;
	text-decoration: none;
	font-size: 20px;
  }
  
  .nav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .nav a.active {
	background-color: #4CAF50;
	color: white;
  }
  
  .nav .icon {
	display: none;
  }
  
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*paragraph 2*/
hr {
    visibility: visible;
    margin: 0 auto;
    width: 10%;
    height: 2px;
    background-image: linear-gradient(to right, rgba(42, 83, 59, 1), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
/* Links inside the nav-wrapper */
.nav-wrapper a {
  position: sticky;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 7px 16px;
  text-decoration: none;
}
ul {
 list-style: none;
}

/* Change background on mouse-over */
.nav-wrapper a:hover {
  background: #ddd;
  color: black;
  font-size: larger;
}
/*footer*/

footer{
	position: relative;
	bottom: 0%;
	background-color: rgba(11, 104, 107, 0.712);
	width: 100%;
	height: 100px;
	align-content: center ;

}

#footer-links {
	position: sticky;
	align-items: center;
	left: 40%;
}
.footer-images{
	background-color: white;
	padding-top: 20px;
	padding-bottom: 1px;
	width: 70px;
	height: 60px;
	padding-left: 10px;
	border-top-left-radius: 40%;
	border-radius: 50%;
	opacity: 400%;
	align-content: center ;
}